.app-header {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    color: #1890ff;
    font-size: 20px;
    font-weight: bold;
  }

  .ant-input-group-addon {
    background-color: transparent !important;
    border: none !important;
  }

  .ant-input-affix-wrapper {
    border-radius: 20px;
    border: 1px solid #d9d9d9;
  }

  .ant-menu-light {
    margin-left: 25px;
    background-color: #fafafa;
  }
  
  
  .user-dropdown {
    cursor: pointer;
  }
  
  .user-menu {
    display: flex;
    align-items: center;
  }

  
  .username {
    color: #333333;
    margin-left: 8px;
    margin-right: 4px;
  }

  .ant-menu-item-selected {
    background-color: unset !important;
  }